body {


    background-color: black;
 
}

container {
    perspective: 1000px
    position: absolute;
    width: 1930px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;
    font-size: small;
    background-color: aqua;
    
}
#canvas1 {
    position: relative;
    width: 1808px;
    height: 380px;
    background-color: aqua;
     }
#slider {
    width: 100%;
}
p{
    color: white;
}